<template>
  <div class="{{ kebabCase name }}">
    {{ kebabCase name }}
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: '{{pascalCase name}}',
  components: {}
})
</script>

<style lang="postcss">
@import '@/styles/index.css';

.{{ kebabCase name }} {

}
</style>
