
:root {
  --font-family: avenir, helvetica, arial, sans-serif;

  /* base color */
  --white: #fff;
  --black: #212121;
  --primary-color: #607d8b;
  --primary-color-light: #cfd8dc;
  --primary-color-dark: #455a64;
  --accent-color: #009688;
  --divider-color: #bdbdbd;
  --text-color: var(--white);
  --primary-text-color: var(--black);
  --secondary-text-color: #757575;
  --icon-color: var(--white);

  /* text size  */
  --text-base: 16px;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --title-sm: 1.5rem;
  --title-md: 1.625rem;
  --title-lg: 1.875rem;
  --title-xl: 2.25rem;
}
