<template>
  <n-icon size="200">
    <i-logos:vue />
  </n-icon>
  <hello-world msg="Hello Vue 3.0 + Vite" />
</template>

<script lang="ts">
export default {
  name: 'Home'
};
</script>
<style lang="postcss">
/* style */
</style>
