<template>
  <n-config-provider :theme="theme" class="app">
    <n-layout class="app__layout">
      <div>
        <label>Theme: </label>
        <n-button-group>
          <n-button
            :type="theme === null ? 'primary' : 'default'"
            round
            @click="handleTheme(null)"
            >Light</n-button
          >
          <n-button
            :type="theme !== null ? 'primary' : 'default'"
            round
            @click="handleTheme(darkTheme)"
            >Dark</n-button
          >
        </n-button-group>
      </div>
      <router-view />
    </n-layout>
  </n-config-provider>
</template>

<script lang="ts" setup>
import { darkTheme } from 'naive-ui';

const theme = ref(darkTheme);

function handleTheme(themeType: any) {
  theme.value = themeType;
}
</script>

<script lang="ts">
export default {
  name: 'App',
  components: {}
};
</script>

<style lang="postcss">
@import '@/styles/index.css';

.app {
  color: #2c3e50;
  text-align: center;
  outline: 1px solid red;

  &__layout {
    height: 100vh;
    padding: 20px;
  }
}
</style>
